.emotion {
    -fx-background-color: #33ccff;
    -fx-text-fill: white;
    -fx-background-radius: 20;
}

.sendButton {
    -fx-background-color: #33ccff;
}

.contentLabel {
    -fx-background-color: #BFEFFF;
    -fx-max-width: 465;
}

.userNameLabel {
    -fx-background-color: #EAEAEA;
    -fx-max-width: 120;
}

._shadow {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);
    -fx-background-insets: 5;
    -fx-background-radius: 5;
}

._charBox{
    -fx-background-color: #BFEFFF;
}

._charTitle{
    -fx-font-size: 14;
}

.tab .tab-label {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-text-fill: #000000;
    -fx-max-width: 10;
}

.tab-pane {
    -fx-tab-min-width:30px;
    -fx-tab-max-width:60px;
    -fx-tab-min-height:20px;
    -fx-tab-max-height:20px;
}

.tab {
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-background-color: #BFEFFF;
}

.tab-pane *.tab-header-background {
    -fx-background-color: white;
}

.tab:selected {
    -fx-background-color: #00BFFF;
}

.friendItemMask {
    -fx-background-color: rgba(100, 100, 100, 0);
}